@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200&display=swap');
  
.logo {
    font-family: 'MuseoModerno', cursive, bold;
}

.sidebar {
    font-family: 'MuseoModerno', cursive;
}

#grad {
    background-image: linear-gradient(45deg, cyan, purple);
}

#linkBar {
    background-image: linear-gradient(90deg, blue, cornflowerBlue);
}

.socials {
    margin-left: 310px;
    padding: 500px;
    text-align: center;
    background: #7d2ecdb9;
    color: rgba(255, 255, 255, 0.847);
    font-size: 18px;
}

#body1 {
    color: black;
    margin-left: 158px;
    font-family: 'MuseoModerno', cursive;
}

#body1_Side {
    color: black;
    margin-left: 158px;
    font-family: 'MuseoModerno', cursive;
}
