.sidebar {
    height: 100%;
    width:  160px;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;
 }

 .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
 }
 
 .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
 }

 .sidebar a:hover {
    color: bisque;
 }

